<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrolling Ticker</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
</head>
<body class="flex h-screen items-center justify-center stock-ticker  overflow-hidden p-8  bg-gradient-to-b from-white via-white to-blue-300">
    <div hx-get="/stocks" hx-trigger="every 1s" hx-swap="innerHTML">
       
         
    </div>
</body>
</html>